html{
  background-color: lightblue
}


.App {
  text-align: center;
}

input {
  width: 300px;
  height: 100px;
  font-size: 20px;
  border-radius: 10px;
  border: 2px solid;
}

button{
  width: 150px;
  height: 60px;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 20px;
  border: 2px solid;
  background-color: lawngreen;
  transition: 1s;
  cursor: pointer;
}
button:hover{
  background-color: royalblue;
}

.task-list{
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}

li{
  width: 20%;
  height: 300px;
  margin: 10px;
  background-color: lawngreen; 
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid;
  transition: 1s;
  cursor: pointer;
  font-size: 2em;
  font-weight: bold;
}

li:hover {
  background-color: royalblue;
  
}